/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
target/
tmp/
logs/
*.DS_Store
/.lein-repl-history
/.nrepl-port
/resources/public/javascript/
/resources/vendor/
/repl/
/out/
